<html>
  <head>
    <style>
      body {
        background-color: #b3ffd9;
      }
    </style>
    <title>Choose Language</title>

    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1 class="title">Play the Game!</h1>
      <label>Please Choose a Language to play the WORDGAME: </label>
      <h3><a href="http://127.0.0.1:5000/playen" name="English">English</a></h3>
      <h3><a href="http://127.0.0.1:5000/playfr" name="French">French</a></h3>
      <h3><a href="http://127.0.0.1:5000/playde" name="German">German</a></h3>
      <h3><a href="http://127.0.0.1:5000/playes" name="Spanish">Spanish</a></h3>
  </body>
</html>
